/* PHASE 3: Layout */
.content ::before{
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  min-height: 200px;
  padding: 10px;
  position: relative;
  background: red;
}

.content-sidebar{
  width: 100px; 
  height: 200px;
  padding: 10px;
  background: blue;
}

.content-main{
  width: 100px;
  height: 200px;
  padding: 10px;
  background: yellow;
}
