.clock {
  position: absolute;
  top: 5px;
  left: 10px;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  border: solid 1px black;
  overflow: hidden;
 
}

.clock p{
  
 
  background: black;
  color: white;
}

.clock h1 {
  padding: 5px;
}